@font-face{
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-size: 1em;
}

*{
    margin: 0;
    padding: 0;
}

#geral{

    margin: 0 auto;
}

#cabecalho, #rodape {

    background-color: #000000;
    color: #ffffff;
    height: 20px;
    padding: 10px;

}
#subcabecalho {

    font-family: 'OpenSans-Regular';
    background: purple;
    padding: 40px;
}

#meio{

    height: 500px;
    padding: relative;
    background:url("../img/semtitulo.jpg") no-repeat;
    top: 500px;
    background-position: center;
}

li{
    display: inline-block;
    color: black;
    font-family: 'OpenSans-Regular';
    font-size: 20px;


}


#logotipo{
    position: relative;
    top: 26px;
}

#banner{

    height: 728px;
    padding: relative;
    background:url("../img/semtitulo.jpg") no-repeat;
    top: -500px;
    background-position: 450px 0px;
}

#rodape h1{

    font-family: 'OpenSans-Regular';
    font-size: 10px;
}




